body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#title{
    text-align: center;
}

#description {
    text-align: center;
    font-size: 20px;
}

#survey-form{
    max-width: 720px;
    margin: 25px auto;
    border: 1px dashed black;
    padding: 20px;
    font-size: 13px;
}

.form-control {
    margin-bottom: 20px;
}

.form-control > label {
    display: block;
    font-weight: 500;
    padding-bottom: 5px;
    font-size: 16px;
}

.form-control > input[type="text"],input[type="email"],input[type="number"] {
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

.form-control > select {
    width: 250px;
    height: 25px;
    color: #a5a5a5;
}

.form-control > textarea {
    width: 350px;
}

#submit {
    width: 100px;
    height: 35px;
    font-size: 16px;
    background-color: #1da01d;
    color: #ffffff;
    border-radius: 10px;
}